@import "reset.css";
html {
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

a {
    color: #000;
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 24px;
    font-weight: 400;
    color: #4a6385;
    font-size: 14px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    border-top: 1px solid #216ccf;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 87px;
}


.btn__menu {
    width: 40px;
    display: none;
}

.btn__menu div {
    height: 5px;
    background-color: #000;
    margin-bottom: 5px;
}

.menu__list {
    display: flex;
}
  
.menu__list li {
    margin-left: 38px;
}

.menu__list a {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #2f3f54;
}

.top {
    background: url(Rectangle2_1.png);
    padding-top: 150px;
    padding-bottom: 180px;
}

.top__inner {
    display: flex;
}

.top-info {
    max-width: 555px;
    margin-right: 35px;
    color: #fff;
}

.top-info__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 48px;
    line-height: 52px;
    text-transform: uppercase;

}

.top-info__descr {
    font-size: 19px;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 35px;
}

.top-info__descr span{
    font-size: 14px;
    line-height: 24px;
    display: block;
    font-weight: 400;
}

.top-info__list {
    margin-bottom: 50px;

}

.top-info__list li{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 3px;
    position: relative;
    padding-left: 24px;
}

.top-info__list li::before {
    content: "";
    background-image: url(5747.png);
    width: 13px;
    height: 13px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.top-info__btn {
    color: #fff;
    text-transform: uppercase;
    border: 3px solid #fff;
    padding: 13px 44px;
    border-radius: 30px;
    margin-bottom: 45px;
    background-color: #267ae9;
}

.top-info__btn-descr {
    margin-top: 25px;
}

.top-images__dox {
    position: relative;
}

.top-images__circle {
    width: 230px;
    height: 230px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #212121;
    position: absolute;
    top: -40px;
    right: -100px;
}

.top-images__title {
    margin-bottom: 10px;
    text-align: left;
    width: 138px;
}

.top-images__price {
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 5px;
}

.top-images__date {
    text-align: right;
    width: 138px;
}

.price {
    padding: 150px 0 180px;
}

.title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: #2f3f54;
}
.title span {
    color: #267ae9;
}

.price__desc {
    text-align: center;
    max-width: 590px;
    margin: 35px auto 125px;
}
.price__items {
    display: flex;
    justify-content: space-between;
}
.price-item {
    max-width: 360px;
    box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
    padding: 0 50px 60px;
    position: relative;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
.price-item__numder {
    width: 265px;
    color: #fff;
    background-color: #267ae9;
    height: 465px;
    border-radius: 136px;
    position: absolute;
    top: -370px;
    font-weight: 700;
    font-size: 33px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 40px;
}

.price-item__numder span {
    font-size: 16px;
}

.price-item__images {
    padding-top: 120px;
    text-align: center;
    padding-bottom: 44px;
}


.price-item__title {
    font-size: 31.3px;
    line-height: 40px;
    font-weight: 700;
    color: #267ae9;
    margin-bottom: 20px;
}
.price-item_text {
    color: #4a6385;
    margin-bottom: 50px;
    font-family: 'Lato', sans-serif;
}
.price-item__list {
    margin-bottom: 75px;
}

.price-item__list li {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
    font-weight: 400;
    padding-left: 34px;
    position: relative;
}

.price-item__list li::before {
    content: "";
    background-image: url(price_icon.png);
    width: 15px;
    height: 12.3px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

}

.price-item__btn {
    font-size: 17px;
    color: #fff;
    background-color: #267ae9;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px 10px;
}



.reviews {
    padding: 120px 0;
    background-color: #fafafa;
}

.reviews-slider {
    margin-top: 166px;
}

.reviews-slider .slick-dots {
    display: flex;
    justify-content: center;
}

.reviews-slider .slick-dots li {
    margin: 0 8px;
}

.reviews-slider .slick-dots li.slick-active button{
    background-color: #fff;
    border: 2px solid #267ae9;
}

.reviews-slider .slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: 0;
    background-color: #267ae9;
}

.reviews-slider .slick-list {
    margin: 0 -50px;
}

.reviews-slider .slick-slide {
    margin: 0 50px;
    padding-bottom: 70px;
}

.reviews-box {
    display: flex;
    box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
}

.reviews-box__images {
    display: flex;
    background-color: #267ae9;
    width: 193px;
    min-height: 350px;
    align-items: center;
    justify-content: center;
}

.reviews-box__content {
    background-color: #fff;
    width: 330px;
    font-size: 16px;
    line-height: 26px;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reviews-box__text {
    margin-bottom: 30px;
}
.reviews-box__author {
    font-weight: 700;
}

.reviews-box__author span{
    color: #267ae9;
    font-family: 'Roboto', sans-serif;
}

.logos {
    margin: 98px 0 80px;
}

.logos__inner {
    display: flex;
    justify-content: space-evenly;

}

/*-----------------------------Footer----------------------------*/

.footer {
    padding: 80px 0 125px;
    background: url(base_1.png);
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer-col__logo {
    width: 244px;
}

.footer__text {
    margin-top: 30px;
    font-size: 13px;
    line-height: 22px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    color: #718db2;
}
.footer__title {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #d0e4ff;
    margin-bottom: 30px;
}

.footer-menu {
    width: 160px;
}

.footer__list a {
    color: #718db2;
    font-size: 13px;
    margin-bottom: 8px;
}

.footer-form {
    width: 270px;
}

.footer-form input, textarea {
    border: 1px solid rgba(255, 255, 255, 0.05);
    background-color: transparent;
    height: 38px;
    display: block;
    width: 100%;
    padding-left: 10px;
    color: #718db2;
    font-size: 11px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    
}

.footer-form input::placeholder, textarea::placeholder {
    color: #718db2;
    font-size: 11px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.footer-form textarea {
    padding: 12px;
    height: 85px;
    resize: none;
    margin-bottom: 10px;
}

.footer-form button{
    text-transform: uppercase;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    border: none;
    background-color: #2575e7;
    padding: 10px 12px;
    cursor: pointer;
}

